@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: #333;
    background: #fff;
}

body {
    width: 1200px;
    height: 700px;
    margin: 0 auto;
}

#header {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 100px;
    background-color: #333;
    z-index: -2;
}

header {
    width: 1200px;
    height: 100px;
}

header .logo {
    width: 400px;
    height: 100px;
    float: left;
}

header .logo img {
    margin-top: 30px;
}

header .nav {
    width: 800px;
    height: 100px;
    float: right;
    position: relative;
    z-index: 50;
}

header .gnb {
    position: relative;
}

header ul.gnb>li>a {
    background: grey;
}

.lnb li a {
    background: wheat;
}

.gnb>.bg,
.gnb .lnb {
    display: none;
}

.bg {
    position: absolute;
    right: 0;
    top: 100px;
    width: 1200px;
    height: 150px;
    background-color: wheat;
    z-index: -1;
}

.nav>ul.gnb>li {
    width: 200px;
    height: 100px;
    float: left;
    text-align: center;
}

.nav>ul.gnb>li>a {
    display: block;
    width: 100%;
    height: 100px;
    line-height: 100px;
}

.nav ul.lnb a {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: block;
}

.nav .gnb li:hover>a {
    background: yellow;
}

.nav ul.lnb::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 50px;
    display: none;
    text-align: center;
    line-height: 50px;
    background-color: green;
}

.slide {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.slide ul {
    width: 3600px;
    height: 100px;
    position: relative;
}

.slide ul li {
    float: left;
}

.contents {
    width: 100%;
    height: 200px;
    position: relative;
}

.contents>div {
    width: 400px;
    height: 200px;
    float: left;
}

.notice h2 {
    width: 100px;
    margin: 10px 10px 0 10px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    text-align: center;
}

.notice ul {
    border: 1px solid black;
    padding: 20px;
}

.notice ul li {
    padding: 2px 5px;
}

.notice ul li a span {
    float: right;
}

.gallery h2 {
    text-align: center;
    width: 100px;
    margin: 10px 10px 0 10px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.gallery ul {
    border: 1px solid black;
    padding: 20px;
    position: absolute;
    width: 400px;
    height: 136px;
}

.gallery ul li img {
    float: left;
    width: 115px;
    padding: 10px;

}

.banner h2 {
    text-align: center;
    width: 100px;
    margin: 10px 10px 0 10px;

}

.banner li a {
    padding: 0 35px;
}

.banner ul {

    padding: 20px;
    position: absolute;
    width: 400px;
    height: 136px;
}

footer {
    width: 100%;
    height: 100px;
    background: grey;
    position: relative;
}

footer .flogo {
    background-color: grey;
    float: left;
    width: 300px;
    height: 100px;
}


.flogo a {
    background: grey;
}

.flogo a img {
    background: grey;
    margin-top: 30px;
}

.copy p {
    background: grey;
    float: left;
    color: white;
    margin-top: 25px;
}

footer .family {
    margin-top: 50px;
    margin-right: 10px;
    float: right;
    padding: 10px;
}

#footer {
    position: absolute;
    top: 600px;
    width: 100vw;
    height: 100px;
    left: 0;
    background: #333;
    z-index: -2;
}

.layer_bg {
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 50;
}

.layer {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 200px;
    z-index: 55;
}

.layer h2 {
    padding: 10px;
}

.layer p {
    padding: 5px;
}

.layer a {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: block;
    background: blue;
    padding: 10px 20px;
    color: white;
}