@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    background: #fff;
    color: #333;
    box-sizing: border-box;
}

a {
    display: block;
}

body {
    width: 1200px;
    height: 700px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 100px;
}

.slide {
    width: 100%;
    height: 300px;
    position: relative;
    /* overflow: hidden; */
}

.contents {
    width: 100%;
    height: 200px;
    float: left;
}

footer {
    width: 100%;
    height: 100px;
    float: left;
    background: greenyellow;
}

header h1 {
    float: left;
    line-height: 100px;
}

.nav {
    width: 800px;
    height: 50px;
    float: right;
    position: relative;
    text-align: center;
    top: 50px;
    right: 20px;
    z-index: 50;
}

.gnb li {
    float: left;
    width: 200px;
    height: 50px;
    line-height: 50px;
}

.gnb li a {
    background: pink;
}

.bg {
    width: 1200px;
    height: 150px;
    background: pink;
    z-index: -1;
    right: -20px;
    top: 50px;
    position: absolute;
    display: none;
}

.gnb li:hover > a {
    background: purple;
    color: white;
}

.lnb {
    display: none;
}

.slide li {
    width: 1200px;
    height: 300px;
    position: absolute;
}

.slide img {
    
}

.contents h2 {
    padding: 10px;
}

.notice {
    width: 400px;
    height: 200px;
    float: left;
}

.notice li a {
    border-bottom: 1px solid black;
    padding: 5px;
    float: left;
    width: 100%;
}

.notice li a span {
    float: right;
}

.gallery {
    width: 400px;
    height: 200px;
    float: left;
}

.gallery img {
    width: 115px;
    float: left;
    padding: 5px;
    margin-left: 10px;
}

.shortcut {
    width: 400px;
    height: 200px;
    float: left;
}

.shortcut img {
    padding: 10px 0 0 20px;
}

.fmenu {
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 50px;
    background: greenyellow;
}

.fmenu a {
    height: 50px;
    padding: 0 30px;
    background: greenyellow;
}

.copy {
    width: 800px;
    text-align: center;
    height: 50px;
    float: left;
    line-height: 50px;
    background: greenyellow;
}

.family {
    position: relative;
    left: 200px;
    bottom: 15px;
}

.modal {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 100;
    display: none;
}

.layer {
    width: 400px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: greenyellow;
}

.layer h2 {
    padding: 10px;
    background: greenyellow;
}

.layer p {
    padding: 10px;
    background: greenyellow;
}

.layer a {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 80px;
    height: 40px;
    background: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}