@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #333;
    background: #fff;
    box-sizing: border-box;
}

a {
    display: block;
}

body {
    width: 100%;
    height: 750px;
}

header {
    width: 200px;
    height: 650px;
    float: left;
}

.hlogo {
    width: 200px;
    height: 200px;
}

.gnb {
    width: 150px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
}

.gnb li {
    font-size: 20px;
    line-height: 50px;
}

.gnb li:hover>a {
    background: pink;
}

.gnb li:hover .lnb {
    transition: all 0.3s;
    max-height: 200px;
}

.lnb {
    overflow: hidden;
    max-height: 0px;
    border-bottom: 1px solid black;
}

section .upslide {
    width: 100%;
    height: 400px;
    background: #ccc;
}

section .contents {
    width: 100%;
    height: 250px;
}

.slide {
    width: calc(100% - 230px);
    height: 400px;
    float: left;
    position: relative;
    overflow: hidden;
}

.slide ul {
    position: absolute;
    width: 300%;
    height: 400px;
    background: rgb(89, 2, 2);
}

.slide ul li {
    float: left;
    width: calc(100% / 3);
}

.slide ul li img {
    width: 100%;
}